<div style="margin: auto; min-width: 800px; max-width: 1024px;">
  <button class="btn btn-green"
          (click)="onAddSteamClick()">Add stream</button>
  <input type="number"
         [(ngModel)]="speed"
         step="1000"
         class="px-1 py-1 shadow border rounded text-gray-700">
  <app-stream-list [speed]="speed"
                   [streamList]="streamList"></app-stream-list>

  <div id="result-stream">
    <div class="flex gap-2 place-items-center">
      <label for="operator">Operator:</label>
      <select class="px-1 py-1 shadow border rounded text-gray-700"
              name="operator"
              id="operator">
        <option value="concat">concat</option>
        <option value="merge">merge</option>
        <option value="exhaust">exhaust</option>
      </select>
    </div>
    <br>
    <div>
      <h3>Output stream</h3>
    </div>
    <div class="stream">
      <!-- <div class="marble"
           *ngIf="marble$ | async as marble"
           style="background-color: red;">{{marble}}</div> -->
      <div class="timeline"></div>
      <div class="marble-container"
           #streamRef></div>
    </div>
  </div>
</div>
